{% set links = [
    { title: 'Movies', url: path('admin_movie'), icon: 'fa fa-film' },
    { title: 'Categories', url: path('admin_category'), icon: 'fa fa-star' },
    { title: 'Actors', url: '#', icon: 'fa fa-users' },
] %}

<nav>
    <ul>
        {% for link in links %}
            <li class="{{ app.request.pathinfo  == link.url ? 'active' }}"><a href="{{ link.url }}"><i class="nav-icon {{ link.icon }}"></i>{{ link.title }}</a></li>
        {% endfor %}
    </ul>
</nav>