{% extends 'admin/base.html.twig' %}

{% block scripts %}

{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="buttons">
                <button type="submit" class="button">Envoyer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

