{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="buttons">
                <a href="{{ path('admin_movie_edit') }}" class="button">Ajouter un film</a>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Poster</th>
                    <th>Titre</th>
                    <th>Categorie</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for movie in movies %}
                    <tr>
                        <td>{{ movie.poster | poster | raw }}</td>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.category | category | raw }}</td>
                        <td>
                            <div class="actions">
                                <a class="action action-delete" href="{{ path('admin_movie_delete', { 'id': movie.id }) }}"><i class="fa fa-trash"></i></a>
                                <a class="action action-edit" href="{{ path('admin_movie_edit', { 'id': movie.id }) }}"><i class="fa fa-edit"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(() => {
            $('table').dataTable();
        });
    </script>
{% endblock %}

