<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo Loïc - Admin - {% block title %}{% endblock %}</title>

    {#  cdn  #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/v4-shims.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {#  end cdn  #}

    <link rel="stylesheet" href="{{ asset('css/admin/main.css') }}">

    {% block stylesheets %}
        {# custom pages css #}
    {% endblock %}
</head>
<body>
<header>
    <div></div>
    <div></div>
    <div>
        {% if app.user %}
            <a href="{{ path('app_logout') }}"><i class="fa fa-power-off"></i></a>
        {% endif %}
    </div>
</header>

<main>
    <aside>
        {% include 'admin/inc/nav.html.twig' %}
    </aside>
    <section id="body">
    {% block body %}

    {% endblock %}
    </section>
</main>

<footer>
    &copy; 2021 - BSTORM
</footer>

{# cdn #}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{# end cdn #}

<script src="{{ asset('js/admin/main.js') }}"></script>
<script>
    $(() => {
        {% for message in app.flashes('success') %}
            toastr.success('{{ message }}');
        {% endfor %}
        {% for message in app.flashes('errors') %}
            toastr.error('{{ message }}');
        {% endfor %}
    });
</script>

{% block scripts %}
    {# custom pages scripts #}
{% endblock %}
</body>
</html>