/**** colors ****/
/* onyx: #454545 */
/* taupe: #6D5959 */
/* blue: #9DCBBA */
/* mint: #ABEBD2 */
/* green: #04F06A */

/**** end colors ****/

* {
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 75px;
    background: #454545;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
}

header a {
    color: white;
}

header a:hover {
    color: #9DCBBA;
}

main {
    flex: 1;
    display: flex;
}

main > aside {
    min-height: 100%;
    width: 300px;
    background: #6D5959;
}

main > #body {
    min-height: 100%;
    padding: 10px;
    background: #ddd;
    flex: 1;
}

footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #454545;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #454545;
}

nav li:hover, nav li.active {
    background: #9DCBBA;
}

nav li:hover a, nav li.active a {
    color: #6D5959;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

nav .nav-icon {
    margin-right: 10px;
}

.button {
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6D5959;
    color: white;
    border-radius: 3px;
    border: 2px solid #454545;
    cursor: pointer;
    font-weight: bold;
    width: max-content;
}

.button:hover {
    background: white;
    color: #6D5959;
}

.buttons {
    margin: 0 0 20px 0;
}

.actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.action {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 0 2px;
}

.action-delete, .action-delete:hover {
    border-color: red;
    color: red;
}

.action-edit, .action-edit:hover {
    border-color: #9DCBBA;
    color: #9DCBBA;
}

.thumbnail {
    height: 75px;
    width: auto;
}

.category {
    padding: 3px 5px;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    display: inline-block;
    font-weight: bolder;
}

