{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="buttons">
                <a href="{{ path('admin_category_edit') }}" class="button">Ajouter une Categorie</a>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Couleur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td><input type="color" value="{{ category.color }}"></td>
                        <td>
                            <div class="actions">
                                <a class="action action-delete" href="{{ path('admin_category_delete', { 'id': category.id }) }}"><i class="fa fa-trash"></i></a>
                                <a class="action action-edit" href="{{ path('admin_category_edit', { 'id': category.id }) }}"><i class="fa fa-edit"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(() => {
            $('table').dataTable();
        });
    </script>
{% endblock %}

